body {
  background-color: #069;
  h1, h2, h3{
  	text-align: center;
  	color:#eee;
  }
  img{
    margin: 0 auto;
    display: block;
    width: 130px;
  }
  .helloABS{
    margin-bottom: 20px;
  }
}