body {
  background-color: #069;
  background-image: url('../images/black-thread-light.png');
}
h1, h2, h3{
	text-align: center;
	color:#eee;
}
h3{
	small{
		color:#ccc;
		font-style: italic;
	}
}
img{
  margin: 0 auto;
  display: block;
  width: 130px;
}
.the-icons{
  font-size: 40px;
  color: #EEA778;
  text-shadow: 2px 2px #333;
}
.helloABS{
  margin-bottom: 20px;
}
.db-list{
  color: #EEDD5B;
  text-transform: capitalize;
  ul{
    list-style: none;
  }
}